header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @include breakpoint($xs) {
        .mobile-app-download-btns {
            figure {
                width: calc(50% - 10px);
                margin: 0 5px;
            }
        }
    }
}