/node_modules
/public/hot
/public/storage
/storage
/vendor
/.idea
/.vagrant
/.env
/.htaccess
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/routes/admin.php
/app/Http/Controllers/Admin
/database
/resources/views/admin