.upload-media-container {
    form {
        padding-bottom: 30px;
        .single-row {
            .subtitle {
                padding-bottom: 10px;
            }
            input[type='file'] {
                margin: 0 auto;
            }
        }
        .btn-container {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .sorting_1 {
        cursor: auto;
    }
}

.media-table {
    .btn {
        margin-top: 5px;
    }
}