footer {
    .border-top {
        border-top: 1px solid black;
        ul {
            li {
                padding-left: 5px;
                padding-right: 5px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .socials {
            ul {
                li {
                    a {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background-color: #3f3f3f;
                        display: inline-block;
                        font-size: 20px;
                        color: white;
                        @include rounded(50%);
                    }
                    &.telegram {
                        a {
                            background-color: white;
                            i {
                                width: 30px;
                                height: 30px;
                                font-size: 30px;
                                line-height: 30px;
                                color: #3f3f3f;
                            }
                        }
                    }
                }
            }
        }
    }
}