body{
    margin: 0;
    font-family: "Lato-Regular";
    color: black;
    &.overflow-hidden {
        overflow: hidden;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-bottom-#{$i * 5} {
        padding-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-top-#{$i * 5} {
        padding-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-left-#{$i * 5} {
        padding-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .padding-right-#{$i * 5} {
        padding-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only)    {
        .padding-bottom-sm-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-top-sm-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($md-only) {
        .padding-left-md-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-left-sm-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-right-sm-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .padding-bottom-xs-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-top-xs-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-left-xs-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-right-xs-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-left-#{$i * 5} {
        margin-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-right-#{$i * 5} {
        margin-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-bottom-#{$i * 5} {
        margin-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-top-#{$i * 5} {
        margin-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-left-xs-#{$i * 5} {
        @include breakpoint($xs) {
            margin-left: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-right-xs-#{$i * 5} {
        @include breakpoint($xs) {
            margin-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-bottom-xs-#{$i * 5} {
        @include breakpoint($xs) {
            margin-bottom: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-top-xs-#{$i * 5} {
        @include breakpoint($xs) {
            margin-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 30 * 2 {
    .max-width-#{$i * 10} {
        max-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 15 * 2 {
    @include breakpoint($xs)    {
        .max-width-xs-#{$i * 10} {
            max-width: 0px + $i * 10!important;
        }
    }
}

@for $i from 0 through 30 * 2 {
    .min-width-#{$i * 10} {
        min-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 15 * 2 {
    @include breakpoint($xs)    {
        .min-width-xs-#{$i * 10} {
            min-width: 0px + $i * 10!important;
        }
    }
}

@for $i from 0 through 200 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}


@for $i from 0 through 100 {
    @include breakpoint($md-only)    {
        .fs-md-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}


@for $i from 0 through 100 {
    @include breakpoint($sm-only)    {
        .fs-sm-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}


@for $i from 0 through 100 {
    @include breakpoint($xs)    {
        .fs-xs-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}

@for $i from 0 through 20 {
    .width-#{$i * 5} {
        width: 0% + $i * 5!important;
    }
}

@for $i from 0 through 20 {
    @include breakpoint($xs) {
        .width-xs-#{$i * 5} {
            width: 0% + $i * 5!important;
        }
    }
}

@for $i from 0 through 200 {
    .line-height-#{$i} {
        line-height: 0px + $i!important;
    }
}

@for $i from 0 through 40 {
    @include breakpoint($xs)    {
        .line-height-xs-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

.italic {
    font-style: italic;
}

.hide-xs {
    @include breakpoint($xs)    {
        display: none !important;
    }
}

h2 {
    font-family: "Montserrat-SemiBold";
}

* {
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: transparent none;
}

.bold{
    font-weight: bold;
}

.no-gutter{
    padding: 0;
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important{
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.nowrap{
    white-space: nowrap;
}

.list-inline{
    margin-left: 0 !important;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
    }
    &.with-text-decoration {
        text-decoration: underline;
    }
}

.fs0{
    font-size: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center-xs {
    @include breakpoint($xs) {
        text-align: center !important;
    }
}

ul {
    li {
        list-style: disc inside none;
    }
}

ol {
    li {
        list-style: decimal inside none;
    }
}

.slick-slider {
    .slick-prev {
        width: 40px;
        height: 40px;
        left: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url(../images/left-arrow.svg);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
        @include box-shadow(none);
        @include breakpoint($xs) {
            left: -10px;
        }
    }
    .slick-next {
        width: 40px;
        height: 40px;
        right: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url(../images/right-arrow.svg);
        background-size: auto 100%;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        font-size: 0;
        border: 0;
        cursor: pointer;
        @include box-shadow(none);
        @include breakpoint($xs) {
            right: -10px;
        }
    }
}

.bottom-fixed-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2000000005!important;
    .privacy-policy-cookie {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: black;
        color: white;
        width: 100%;
        font-size: 0;
        position: relative;
        .customize-cookies {
            background-color: black;
            padding: 20px;
            color: white;
            width: 95%;
            max-width: 550px;
            bottom: calc(100% + 15px);
            @include horizontal-align(absolute);
            @include rounded(15px);
            .close-customize-cookies {
                font-size: 30px;
                color: white;
                position: absolute;
                right: 10px;
                top: 0;
                background: transparent;
                border: 0;
                box-shadow: none;
            }
            .cookie-icon {
                width: 40px;
                margin-bottom: 10px;
            }
            .cookies-options-list {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 0;
                ul {
                    margin: 0;
                    padding: 0;
                    width: 50%;
                    display: inline-block;
                    vertical-align: text-bottom;
                    li {
                        font-size: 0;
                        padding-bottom: 20px;
                        input[type="checkbox"] {
                            display: none !important;
                        }
                        .tooltip.top .tooltip-arrow {
                            border-top-color: white;
                        }
                        .tooltip-inner {
                            border: 1px solid white;
                        }
                        .custom-checkbox {
                            width: 20px;
                            height: 20px;
                            border: 1px solid #bdc3c7;
                            display: inline-block;
                            vertical-align: top;
                            background-color: white;
                            color: #679dca;
                            font-size: 14px;
                            text-align: center;
                            line-height: 20px;
                            @include rounded(20%);
                        }
                        label {
                            cursor: pointer;
                        }
                        .custom-checkbox-label {
                            width: calc(100% - 20px);
                            display: inline-block;
                            vertical-align: top;
                            cursor: pointer;
                            font-weight: normal;
                            margin: 0;
                            font-size: 18px;
                            padding-left: 10px;
                            text-indent: 0;
                            cursor: pointer;
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .actions {
                a {
                    margin-top: 20px;
                    display: inline-block;
                    max-width: 150px;
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    padding: 10px 0;
                    font-weight: bold;
                    border: 2px solid white;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                .cancel-btn {
                    color: #679dca;
                    background-color: white;
                    border: 2px solid #679dca;
                }
                .save-btn {
                    background-color: #679dca;
                    color: white;
                }
            }
            .custom-triangle {
                top: calc(100% - 20px);
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 50%;
                -webkit-transform: rotate(45deg) translateX(-50%);
                -ms-transform: rotate(45deg) translateX(-50%);
                transform: rotate(45deg) translateX(-50%);
                transform-origin: 0;
            }
        }
        .text {
            font-size: 18px;
            width: calc(100% - 150px);
            padding-right: 15px;
            .link {
                color: #80b8dc;
                font-weight: bold;
                text-decoration: underline;
            }
        }
        .button-container {
            width: 150px;
            a {
                display: block;
                text-align: center;
                font-size: 16px;
                padding: 10px 0;
                background-color: #679dca;
                color: white;
                font-weight: bold;
                border: 2px solid white;
                cursor: pointer;
                @include rounded(10px);
            }
        }
    }
    @include breakpoint($xs) {
        .privacy-policy-cookie {
            .customize-cookies {
                .cookies-options-list {
                    ul {
                        width: 100%;
                        li {
                            padding-bottom: 12px;
                        }
                    }
                }
                .actions {
                    a {
                        max-width: 115px;
                        margin-top: 10px;
                    }
                }
            }
            .text {
                width: 100%;
                padding-bottom: 15px;
            }

            .button {
                width: 100%;
            }
        }
    }
}