.light-blue-white-btn, input[type='submit'].light-blue-white-btn {
    font-size: 20px;
    color: $light_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $light_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $light_blue;
    }
    &:focus {
        color: $light_blue;
    }
}

.white-light-blue-btn, input[type='submit'].white-light-blue-btn {
    font-size: 20px;
    background-color: $light_blue;
    color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $light_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        background-color: white;
        color: $light_blue;
    }
    &:focus {
        color: $light_blue;
    }
}

.social-login-btn {
    background-color: white;
    width: 100%;
    display: inline-block;
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 10px 15px 10px 70px;
    max-width: 350px;
    margin: 0 auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center left 15px;
    @include rounded(4px);
    &.civic-custom-btn {
        background-image: url(/assets/images/civic.svg);
        border: 1px solid #3bb03f;
    }
    &.facebook-custom-btn {
        background-image: url(/assets/images/facebook.svg);
        border: 1px solid #3b5999;
    }
}

.custom-input {
    width: 100%;
    padding: 12px 15px;
    background-color: white;
    font-size: 16px;
    font-family: 'Calibri-Regular';
    border: 0;
    @include rounded(4px);
    @include box-shadow(0px 2px 10px 0 rgba(0, 0, 0, 0.2));
    @include simple_transition(.3s);
    &:focus {
        @include box-shadow(0px 2px 10px 0 #679dca);
    }
}

.error-handle, .alert.alert-warning {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #a94442;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px;
    @include rounded(4px);
    &.alert.alert-warning {
        display: none;
    }
}

.module {
    &.avatar {
        input[type="file"] {
            display: none;
        }
        .btn-wrapper {
            display: block;
            width: 100%;
            padding: 0;
            border: 0;
            margin: 0;
            label {
                background-color: #e3e3e3;
                border: 2px dashed #777777;
                color: #777777;
                width: 100%;
                padding-top: 100%;
                display: block;
                position: relative;
                text-align: center;
                margin-bottom: 0;
                cursor: pointer;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                .inner {
                    left: 0;
                    width: 100%;
                    @include vertical-align(absolute);
                    i {
                        font-size: 30px;
                    }
                    .inner-label {
                        font-size: 18px;
                        padding: 0 10px;
                        @include breakpoint($xs) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    &.suggester-parent {
        .suggester-map-div {
            height: 200px;
            display: none;
            background: transparent;
        }
    }
    &.custom-google-label-style {
        position: relative;
        label {
            position: absolute;
            font-size: 16px !important;
            cursor: pointer;
            margin: 0;
            width: calc(100% - 20px) !important;
            padding-bottom: 10px !important;
            padding-top: 10px !important;
            background-color: white;
            left: 10px;
            color: #888888;
            font-weight: normal;
            top: 50%;
            font-family: 'Calibri-Regular';
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @include rounded(4px);
            @include simple_transition(.3s);
            &.active-label {
                width: auto !important;
                font-size: 14px !important;
                top: -8px;
                padding: 0 5px !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                color: $light_blue;
                font-weight: bold;
            }
        }
        .left-side {
            width: calc(100% - 100px);
            position: relative;
            &.error-field {
                input, label {
                    color: red;
                }
            }
        }
        input {
            border: 2px solid #dddddd;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 15px;
            @include rounded(4px 0 0 4px);
            &.full-rounded {
                @include rounded(4px);
            }
            &.blue-green-border {
                border: 2px solid $light_blue;
            }
        }
        span {
            width: 100px;
            text-align: center;
            padding-top: 12px;
            font-size: 18px;
            font-family: 'Lato-Regular';
            color: $main_color;
            background-color: #dddddd;
            @include rounded(0 4px 4px 0);
        }
    }
    &.custom-google-select-style {
        position: relative;
        label {
            width: auto !important;
            font-size: 14px !important;
            top: -8px;
            padding: 0 5px !important;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            color: $light_blue;
            font-weight: bold;
            position: absolute;
            cursor: pointer;
            margin: 0;
            background-color: white;
            left: 10px;
            @include rounded(4px);
            @include simple_transition(.3s);
        }
        select {
            background-image: url('/assets/images/select-arrow.svg');
            background-position: top 50% right 10px;
            background-size: 15px;
            background-repeat: no-repeat;
            border: 2px solid $light_blue;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Lato-Regular';
            width: 100%;
            padding: 10px 30px 10px 15px;
            -webkit-appearance: initial;
            @include rounded(4px);
        }
    }
}