.shortcode {
    &.slider-arrows-type-one {
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-size: auto 100%;
            z-index: 3;
            background-position: center;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: block;
            font-size: 0;
            border: 0;
            cursor: pointer;
            @include rounded(50%);
            &.slick-prev {
                left: -20px;
                background-image: url(/assets/uploads/arrow-left.png);
                @include breakpoint($sm-down) {
                    left: 0;
                }
            }
            &.slick-next {
                right: -20px;
                background-image: url(/assets/uploads/arrow-right.png);
                @include breakpoint($sm-down) {
                    right: 0;
                }
            }
        }
    }
    &.card-types-slider {

    }
    &.featured-cards-slider {
        .single-slide {
            min-height: 600px;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: cover;
            border: 4px solid white;
            color: white;
            position: relative;
            padding: 50px;
            @include rounded(10px);
            .content {
                width: 50%;
                margin-left: 50%;
                font-size: 20px;
                .mobile-image {
                    display: none;
                }
                .unique-title-part {
                    text-shadow: 1px 1px 18px white, 0 0 10px white, 1px 0 10px white;
                    &.chocolate {
                        color: #595959;
                    }
                    &.shield {
                        color: #01808e;
                    }
                    &.striker {
                        color: #e7001f;
                    }
                }
            }
            @include breakpoint($md-down) {
                padding: 20px 30px;
                .content {
                    width: 100%;
                    margin-left: 0;
                    .mobile-image {
                        display: block;
                        max-width: 400px;
                        margin: 0 auto;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}