.change-password-section {
    background-size: 100% auto, cover;
    background-image: url(/assets/uploads/reset-pass-border.png), url(/assets/uploads/blue-blackground.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 top 0, center top;
    .change-password-form {
        input[type='password'] {
            padding: 15px 20px;
            border: 3px solid white;
            background: #83c9dd;
            color: white;
            width: 100%;
            @include rounded(20px);
            @include box-shadow(0px 5px 20px 2px rgba(0, 0, 0, 0.8));
        }
    }
}