@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes marginTop {
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-moz-keyframes marginTop { /* Firefox */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-webkit-keyframes marginTop { /* Safari and Chrome */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-o-keyframes marginTop { /* Opera */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}

.margin-top-animation {
    @include animation(0s, 2s, marginTop, infinite);
}

.buzz-out-animation {
    &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}