.module {
    &.module-pagination {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
        ul {
            li {
                list-style: none;
                display: inline-block;
                padding: 0 2px;
                .current {
                    color: #15b3ec;
                    background-color: white;
                    width: 25px;
                    display: block;
                    height: 25px;
                    line-height: 25px;
                }
                .prev, .next {
                    font-size: 0;
                    text-align: center;
                    background-color: #15b3ec;
                    color: white;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    margin: 0 3px;
                    @include rounded(50%);
                    &:hover {
                        color: white;
                    }
                }
                a {
                    border: 1px solid transparent;
                    color: #888888;
                    width: 25px;
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    @include simple_transition(.3s);
                    &:hover {
                        color: #15b3ec;
                    }
                }
            }
        }
    }
    &.post-tile {
        display: block;
        overflow: hidden;
        background-color: white;
        @include rounded(15px);
        @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.2));
        .fixed-image-height {
            position: relative;
            height: 180px;
            overflow: hidden;
            img {
                width: 100%;
                @include vertical-align(absolute);
            }
        }
        h3 {
            color: black;
        }
        .info-body {
            p {
                color: #888888;
            }
            .link-and-date {
                .link {
                    color: #ff4f3c;
                    width: 50%;
                }
                .date {
                    width: 50%;
                    color: #888888;
                }
            }
        }
        &.featured {
            @include box-shadow(0 5px 20px 2px rgba(0,0,0,.5));
        }
    }
}