.shortcode {
    &.categories-list {
        ul {
            li {
                a {
                    display: block;
                    font-size: 18px;
                    font-family: "Lato-Black";
                    color: white;
                    background-color: #444444;  
                    opacity: 0.7;
                    padding: 8px 10px;
                    min-width: 140px;
                    margin: 0 5px;
                    @include simple_transition(.3s);
                    @include rounded(6px);
                    &.active {
                        opacity: 1;
                    }
                    @include breakpoint($md) {
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                @include breakpoint($sm-only) {
                    a {
                        min-width: 100px;
                    }
                }
                @include breakpoint($xs) {
                    width: 33.33333333%;
                    margin-bottom: 10px;
                    a {
                        min-width: 0;
                        font-size: 15px;
                        padding: 8px 5px;
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}