.shortcode {
    &.posts-list {

    }
    &.categories-list {
        ul {
            li {
                a {
                    display: block;
                    font-size: 18px;
                    font-family: "Lato-Black";
                    color: white;
                    background-color: #b5bbbe;
                    padding: 8px 10px;
                    min-width: 140px;
                    margin: 0 5px;
                    @include rounded(6px);
                    &.active {
                        background-color: #444444;
                    }
                }
                @include breakpoint($sm-only) {
                    a {
                        min-width: 100px;
                    }
                }
                @include breakpoint($xs) {
                    display: block !important;
                    margin-bottom: 10px;
                }
            }
        }
    }
}